 <div class="invoice-preview-container">
    @if (document()) {
    <div class="invoice-preview">
        <div class="preview-header">
            <div>
                <h3>{{ document()?.companyName }}</h3>
                <p>{{ document()?.companyAddress }}</p>
                <p>{{ document()?.companyEmail }} | {{ document()?.companyPhone }}</p>
            </div>
            <div class="document-details">
                <h3 class="document-title">{{ document()?.type | titlecase }}</h3>
                <p><strong>Document #:</strong> {{ document()?.number }}</p>
                <p><strong>Date:</strong> {{ document()?.date }}</p>
            </div>
        </div>

        <hr>

        <div class="preview-customer">
            <h3>Bill To:</h3>
            <p><strong>{{ document()?.customerName }}</strong></p>
            <p>{{ document()?.customerAddress }}</p>
            <p>{{ document()?.customerEmail }}</p>
        </div>

        <table class="items-table">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @for (item of document()?.items; track item) {
                <tr>
                    <td>{{ item.description }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price | currency: 'NGN' :'symbol':'1.2-2':'en-NG' }}</td>
                    <td>{{ item.total | currency: 'NGN' :'symbol':'1.2-2':'en-NG'}}</td>
                </tr>
                }
            </tbody>
        </table>

        <div class="totals-section">
            <div class="totals-row">
                <span>Subtotal:</span>
                <span>{{ document()?.subTotal | currency: 'NGN' :'symbol':'1.2-2':'en-NG' }}</span>
            </div>
            <div class="totals-row">
                <span>Tax ({{ document()?.taxRate }}%):</span>
                <span>{{ document()?.taxAmount | currency: 'NGN' :'symbol':'1.2-2':'en-NG' }}</span>
            </div>
            <div class="totals-row grand-total">
                <span>Total:</span>
                <span>{{ document()?.total | currency: 'NGN' :'symbol':'1.2-2':'en-NG' }}</span>
            </div>
        </div>

        @if (document()?.notes) {
        <div class="notes-section">
            <h4>Notes:</h4>
            <p>{{ document()?.notes }}</p>
        </div>
        }
    </div>
    }
</div> 
