<div class="container-sm mx-auto invoice-form-container">
    <form [formGroup]="documentForm" (ngSubmit)="onSave()">
        <div class="row g-3 my-4">
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label" for="type">Document Type:</label>
                    <select class="form-control" id="type" formControlName="type">
                        <option value="invoice">Invoice</option>
                        <option value="quotation">Quotation</option>
                        <option value="receipt">Receipt</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label" for="date">Date</label>
                    <input class="form-control" type="date" id="date" formControlName="date">
                </div>
            </div>
        </div>

        <div class="row g-3 my-4">
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label" for="companyName">Company Name</label>
                    <input class="form-control" type="text" id="companyName" formControlName="companyName">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="companyAddress">Company Address</label>
                    <textarea class="form-control" id="companyAddress" formControlName="companyAddress"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="companyEmail">Company Email</label>
                    <input class="form-control" type="email" id="companyEmail" formControlName="companyEmail">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="companyPhone">Company Phone</label>
                    <input class="form-control" type="tel" id="companyPhone" formControlName="companyPhone">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label" for="customerName">Customer Name</label>
                    <input class="form-control" type="text" id="customerName" formControlName="customerName">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="customerAddress">Customer Address</label>
                    <textarea class="form-control" id="customerAddress" formControlName="customerAddress"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="customerEmail">Customer Email</label>
                    <input class="form-control" type="email" id="customerEmail" formControlName="customerEmail">
                </div>
            </div>
        </div>

        <div class="mb-3 table-responsive my-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th data-label="Description" style="width: 30%;">Description</th>
                        <th data-label="Quantity" class="text-right">Quantity</th>
                        <th data-label="Unit Price" class="text-right">Unit Price</th>
                        <th data-label="Total Price" class="text-right">Total Price</th>
                        <th data-label="Actions" style="width:10%">Actions</th>
                    </tr>
                </thead>
                <tbody formArrayName="items">
                    @for (item of items.controls; track trackById($index, item)) {
                    <ng-container [formGroupName]="$index">
                        <tr class="item-fields">
                            <td data-label="Description">
                                <input type="text" class="form-control" formControlName="description">
                            </td>
                            <td data-label="Quantity" class="text-right">
                                <input type="number" class="form-control" formControlName="quantity"
                                    (input)="calculateItems($index)">
                            </td>
                            <td data-label="Unit Price" class="text-right">
                                <input type="number" class="form-control" formControlName="price"
                                    (input)="calculateItems($index)">
                            </td>
                            <td data-label="Total Price" class="item-total text-right">
                                {{ item.get('total')?.value | currency: 'NGN':'symbol':'1.2-2':'en-NG' }}
                            </td>
                            <td data-label="Actions" class="text-right">
                                <button class="btn btn-dark btn-sm" type="button"
                                    (click)="removeItem($index)">Remove</button>
                            </td>
                        </tr>
                    </ng-container>
                    }
                </tbody>
            </table>
            <button class="btn btn-dark btn-sm" type="button" (click)="addItem()">Add Item</button>
        </div>

        <div class="row justify-content-end my-4">
            <div class="col-md-5 col-lg-4">
                <div class="row g-3 mb-2">
                    <div class="col-6 text-start">
                        <label class="form-label">Subtotal:</label>
                    </div>
                    <div class="col-6 text-end">
                        <span>{{ documentForm.get('subTotal')?.value | currency: 'NGN' :'symbol':'1.2-2':'en-NG'
                            }}</span>
                    </div>
                    <div class="col-6 text-start">
                        <label class="form-label">Tax Rate:</label>
                    </div>
                    <div class="col-6 text-end">
                        <input type="number" class="form-control" formControlName="taxRate" (input)="calculateTotal()">
                    </div>
                    <div class="col-6 text-start">
                        <label class="form-label">Tax Amount:</label>
                    </div>
                    <div class="col-6 text-end">
                        <span>{{ documentForm.get('taxAmount')?.value | currency: 'NGN' :'symbol':'1.2-2':'en-NG'
                            }}</span>
                    </div>
                    <hr>
                    <div class="col-6 text-start">
                        <label class="form-label fs-5">Total:</label>
                    </div>
                    <div class="col-6 text-end">
                        <span class="fs-5">{{ documentForm.get('total')?.value | currency: 'NGN'
                            :'symbol':'1.2-2':'en-NG' }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3 text-center mt-4">
            <button class="btn btn-dark btn-sm" type="submit">Save Document</button>
        </div>
    </form>
</div>