<div class="container-sm mx-auto invoice-form-container">
    <form [formGroup]="documentForm">
        <div class="row g-3 my-4">
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label" for="type">Document Type:</label>
                    <select class="form-control" id="type" formControlName="type">
                        <option value="invoice">Invoice</option>
                        <option value="quotation">Quotation</option>
                        <option value="receipt">Receipt</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label" for="date">Date</label>
                    <input class="form-control" type="date" id="date" formControlName="date">
                </div>
            </div>

            @if (documentForm.get('type')?.value === 'invoice' || documentForm.get('type')?.value === 'receipt') {
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label" for="dueDate">Due Date</label>
                    <input class="form-control" type="date" id="dueDate" formControlName="dueDate">
                </div>
            </div>
            }
        </div>

        <div class="row g-3 my-4">
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label" for="companyName">Company Name</label>
                    <input class="form-control" type="text" id="companyName" formControlName="companyName">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="companyAddress">Company Address</label>
                    <textarea class="form-control" id="companyAddress" formControlName="companyAddress"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="companyEmail">Company Email</label>
                    <input class="form-control" type="email" id="companyEmail" formControlName="companyEmail">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="companyPhone">Company Phone</label>
                    <input class="form-control" type="tel" id="companyPhone" formControlName="companyPhone">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label" for="customerName">Customer Name</label>
                    <input class="form-control" type="text" id="customerName" formControlName="customerName">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="customerAddress">Customer Address</label>
                    <textarea class="form-control" id="customerAddress" formControlName="customerAddress"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="customerEmail">Customer Email</label>
                    <input class="form-control" type="email" id="customerEmail" formControlName="customerEmail">
                </div>
            </div>
        </div>

        <div class="mb-3 table-responsive my-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th data-label="Description" style="width: 30%;">Description</th>
                        <th data-label="Quantity" class="text-right">Quantity</th>
                        <th data-label="Unit Price" class="text-right">Unit Price</th>
                        <th data-label="Total Price" class="text-right">Total Price</th>
                        <th data-label="Actions" style="width:10%">Actions</th>
                    </tr>
                </thead>
                <tbody formArrayName="items">
                    @for (item of items.controls; track trackById($index, item)) {
                    <ng-container [formGroupName]="$index">
                        <tr class="item-fields">
                            <td data-label="Description">
                                <input type="text" class="form-control" formControlName="description">
                            </td>
                            <td data-label="Quantity" class="text-right">
                                <input type="number" class="form-control" formControlName="quantity"
                                    (input)="calculateItems($index)">
                            </td>
                            <td data-label="Unit Price" class="text-right">
                                <input type="number" class="form-control" formControlName="price"
                                    (input)="calculateItems($index)">
                            </td>
                            <td data-label="Total Price" class="item-total text-right">
                                {{ item.get('total')?.value | currency: 'NGN':'symbol':'1.2-2':'en-NG' }}
                            </td>
                            <td data-label="Actions" class="text-right">
                                <button class="btn btn-dark btn-sm" type="button"
                                    (click)="removeItem($index)">Remove</button>
                            </td>
                        </tr>
                    </ng-container>
                    }
                </tbody>
            </table>
            <button class="btn btn-dark btn-sm" type="button" (click)="addItem()">Add Item</button>
        </div>

        <div class="row justify-content-end my-4">
            <div class="col-md-5 col-lg-4">
                <div class="row g-3 mb-2">
                    <div class="col-6 text-start">
                        <label class="form-label">Subtotal:</label>
                    </div>
                    <div class="col-6 text-end">
                        <span>{{ documentForm.get('subTotal')?.value | currency: 'NGN' :'symbol':'1.2-2':'en-NG'
                            }}</span>
                    </div>
                    <div class="col-6 text-start">
                        <label class="form-label">Tax Rate:</label>
                    </div>
                    <div class="col-6 text-end">
                        <input type="number" class="form-control" formControlName="taxRate" (input)="calculateTotal()">
                    </div>
                    <div class="col-6 text-start">
                        <label class="form-label">Tax Amount:</label>
                    </div>
                    <div class="col-6 text-end">
                        <span>{{ documentForm.get('taxAmount')?.value | currency: 'NGN' :'symbol':'1.2-2':'en-NG'
                            }}</span>
                    </div>
                    <hr>
                    <div class="col-6 text-start">
                        <label class="form-label fs-5">Total:</label>
                    </div>
                    <div class="col-6 text-end">
                        <span class="fs-5">{{ documentForm.get('total')?.value | currency: 'NGN'
                            :'symbol':'1.2-2':'en-NG' }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-3 my-4">
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label" for="notes">Notes:</label>
                    <textarea class="form-control" id="notes" formControlName="notes"></textarea>
                </div>
            </div>
        </div>

        <div class="mb-3 text-center mt-4">
            <button class="btn btn-dark btn-lg" type="button" (click)="saveAndDownload()">Save and Download PDF</button>
        </div>
    </form>
</div>

<div class="pdf-container" #pdfContainer>
    <div class="invoice-preview-container">
        <div class="invoice-preview">
            <div class="preview-header">
                <div>
                    <h3>{{ documentForm.get('companyName')?.value }}</h3>
                    <p>{{ documentForm.get('companyAddress')?.value }}</p>
                    <p>{{ documentForm.get('companyEmail')?.value }} | {{ documentForm.get('companyPhone')?.value }}</p>
                </div>
                <div class="document-details-no-border">
                    <h3 class="document-title">{{ documentForm.get('type')?.value | titlecase }}</h3>
                    <p><strong>Document #:</strong> {{ documentForm.get('number')?.value }}</p>
                    <p><strong>Date:</strong> {{ documentForm.get('date')?.value }}</p>
                    @if (documentForm.get('type')?.value === 'invoice' || documentForm.get('type')?.value === 'receipt')
                    {
                    <p><strong>Due Date:</strong> {{ documentForm.get('dueDate')?.value }}</p>
                    }
                </div>
            </div>

            <hr>

            <div class="preview-customer">
                <h3>Bill To:</h3>
                <p><strong>{{ documentForm.get('customerName')?.value }}</strong></p>
                <p>{{ documentForm.get('customerAddress')?.value }}</p>
                <p>{{ documentForm.get('customerEmail')?.value }}</p>
            </div>

            <table class="items-table">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of items.controls; track trackById($index, item)) {
                    <tr>
                        <td>{{ item.get('description')?.value }}</td>
                        <td>{{ item.get('quantity')?.value }}</td>
                        <td>{{ item.get('price')?.value | currency: 'NGN' :'symbol':'1.2-2':'en-NG' }}</td>
                        <td>{{ item.get('total')?.value | currency: 'NGN' :'symbol':'1.2-2':'en-NG'}}</td>
                    </tr>
                    }
                </tbody>
            </table>

            <div class="totals-section">
                <div class="totals-row">
                    <span>Subtotal:</span>
                    <span>{{ documentForm.get('subTotal')?.value | currency: 'NGN' :'symbol':'1.2-2':'en-NG' }}</span>
                </div>
                <div class="totals-row">
                    <span>Tax ({{ documentForm.get('taxRate')?.value }}%):</span>
                    <span>{{ documentForm.get('taxAmount')?.value | currency: 'NGN' :'symbol':'1.2-2':'en-NG' }}</span>
                </div>
                <div class="totals-row grand-total">
                    <span>Total:</span>
                    <span>{{ documentForm.get('total')?.value | currency: 'NGN' :'symbol':'1.2-2':'en-NG' }}</span>
                </div>
            </div>

            <div class="notes-section">
                <p>{{ documentForm.get('notes')?.value }}</p>
            </div>
        </div>
    </div>
</div>